html {
    min-height: 100%;
}

body {
    background-color: rgb(255, 221, 159);
    min-height: 100%;
}

.emojipicker {
    height: 300px;
}

.emoji {
    font-size: 1.3em;
}

.card {
    margin-bottom: 25px;
}

.card-content {
    font-size: 1.8em;
}